* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  min-height: 400px;
  background-color: #1f2937;
  color: white;
  margin: 1opx;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  margin: 10px;
}
.nav-links ul {
  display: flex;
  gap: 20px;
}
.nav-links ul li {
  list-style: none;
}
.nav-links ul li a {
  text-decoration: none;
}
.placeholder {
  width: 400px;
  height: 200px;
  background-color: #e5e7eb;
  margin-right: 200px;
  color: #1f2937;
}
.content {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
.text-left {
  padding: 30px;
  flex: 1;
  margin-left: 200px;
}
.text-left h1 {
  font-size: 48px;
  margin: 10px;
}
.text-left p {
  font-size: 20px;
  margin: 10px;
}
.sign-up {
  font-size: 30px;
  padding: 5px;
  background-color: #3882f6;
  border-radius: 10px;
  border: none;
  color: white;
  margin: 10px;
  width: auto;
}
.logo {
  margin-left: 210px;
}
/*information section*/
.cont-1,
.cont-2,
.cont-3,
.cont-4 {
  border: 2px solid blue;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 400px;
  flex-wrap: wrap;
}
.info h1 {
  text-align: center;
  margin: 10px;
}
.cont p {
  margin-top: 8px;
  text-align: center;
}
/*testimonials*/
.testimonials {
  min-height: 350px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test-box p {
  text-align: center;
  font-size: 32px;
  color: #1f2937;
}

.regards p {
  text-align: right;
  color: black;
}
/*---cta section---*/

.cta {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-box {
  background-color: #3882f6;
  color: #1f2937;
  width: 900px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cta-box p {
  font-size: 18px;
  text-align: left;
}
.cta-box h2 {
  font-size: 32px;
}
.btn {
  border: 2px solid white;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footp {
  color: white;
  font-size: 18px;
  background-color: #1f2937;
  text-align: center;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
